@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Poppins:wght@400;700&family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/*  --colorPrimario: #1F2023;    (negro)
    --colorSecundario: #A6C1B9;  (gris azulado claro)
    --colorTerciario: #4C6C62;   (gris)
    --colorCuarternario:#2B3D37; (gris oscuro)
    --colorQuinario:#D6E2DE;     (gris claro)
    --borderCaja: 5px;
    --borderRadioTitle: 15px;*/

:root {
  --colorPrimario: #1f2023;
  --colorSecundario: #a6c1b9;
  --colorTerciario: #4c6c62;
  --colorCuarternario: #2b3d37;
  --colorQuinario: #d6e2de;
  --borderCaja: 5px;
  --borderRadioTitle: 15px;
}

body {
  background-color: var(--colorPrimario);
  color: white;
  font-family: "Poppins", "Contrail One";
  font-size: 20px;
  text-align: center;
}
.cuerpo__head {
  padding-left: 10vh;
  padding-right: 10vh;
  padding-top: 50px;
  margin-bottom: 20px;
}

.cuerpo__main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10vh;
  padding-right: 10vh;
}
.titulo__barra__top {
  width: 1000px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-top: 30px solid var(--colorTerciario);
  margin: 0 auto;
}
.titulo__barra__bot {
  width: 1000px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 30px solid var(--colorTerciario);
  margin: 0 auto;
  margin-bottom: 20px;
}

.formulario__field {
  background-color: var(--colorQuinario);
  color: var(--colorPrimario);
  width: 1000px;
  text-align: center;
  border-radius: var(--borderCaja);
}
.titulo {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.formulario__legend {
  background-color: var(--colorTerciario);
  font-family: "Roboto";
  font-weight: 600;
  border-radius: 10px;
  width: fit-content;
  height: 40px;
  text-align: left;
  padding: 3px;
  font-size: 20px;
  color: white;
  margin: var(--borderRadioTitle);
  text-transform: uppercase;
}
.formulario__label--block {
  display: block;
}
input {
  box-sizing: content-box;
  margin: 10px;
}
input:focus,
textarea:focus {
  background-color: var(--colorTerciario);
  color: white;
}

.formulario__field--text-align {
  text-align: left;
  padding: 15px;
}
.condicones__boton {
  font-size: 16px;
  background-color: var(--colorCuarternario);
  margin: 20px;
  color: white;
  border-radius: var(--borderCaja);
  border: 1px solid var(--colorTerciario);
  width: 130px;
  height: 50px;
  text-align: center;
}

/* .formulario__puntos {
  width: 450px;
  border-top-style: dotted;
  border-top-width: 20px;
  color: var(--colorSecundario);
  
} */

.formulario__puntos {
  color: var(--colorSecundario);
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: bolder;
}

span {
  font-size: 25px;
}

.condiciones__checkbox,
.condiciones h2 {
  text-align: left;
  margin: 10px;
}

.formulario__field:focus-within {
  background-color: var(--colorSecundario);
}

.input__barra {
  width: 80%;
  border-radius: 5px;
  border: solid 1px gray;
  text-align: center;
  padding: 2px 5px;
}
button {
  width: 5%;
  height: auto;
}
.button__icono {
  width: 50px;
  height: 50px;
}
