@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crimson+Text&family=Shrikhand&display=swap");

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* :root {
    --colorPrimario: #E6CCB2;    (beige)
    --colorSecundario: #E63727;  (rojo)
    --colorTerciario:#A82417;    (rojo oscuro)
    --colorCuaternario: #13AEBF; (celeste)
    --colorQuinario:#438A91;     (celeste oscuro)
    --colorSexagenario: #5ce1e6; (celeste claro)
    --borde: 5px;
    --bordeRadio:15px;

} */
:root {
  --colorPrimario: #e6ccb2;
  --colorSecundario: #e63727;
  --colorTerciario: #a82417;
  --colorCuaternario: #13aebf;
  --colorQuinario: #438a91;
  --colorSexagenario: #5ce1e6;
  --borde: 5px;
  --bordeRadio: 15px;
}

body {
  background-color: var(--colorPrimario);
  font-family: "Crimson Text", serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  background-color: white;
  color: var(--colorSecundario);
  font-size: 80px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  border-radius: 40px;
  border: var(--borde) solid var(--colorSecundario);
}

.formulario__field {
  border: var(--borde) solid var(--colorQuinario);
  border-radius: var(--bordeRadio);
  background-color: var(--colorCuaternario);
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  text-align: left;
  padding-left: 50px;
}

.formulario__legend {
  font-family: "Bree Serif", serif;
  font-size: 50px;
  color: white;
  background-color: var(--colorSecundario);
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 3px;
}

span {
  font-family: "Bree Serif", serif;
  font-size: 50px;
  color: white;
}

label,
h2,
legend {
  font-size: 25px;
}

.formulario__field input {
  margin: 10px;
}
.formulario__label--block {
  display: block;
}

input {
  height: 25px;
}

button {
  font-family: "Crimson Text", serif;
  font-size: 25px;
  color: white;
  background-color: var(--colorSecundario);
  border-radius: var(--bordeRadio);
  border: var(--borde) solid var(--colorTerciario);
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 10px;
}

input:focus,
textarea:focus {
  background-color: var(--colorSexagenario);
}

.condiciones {
  color: black;
  margin-left: 20%;
}

.condiciones__checkbox,
.condiciones h2 {
  text-align: left;
  margin: 10px;
}

.formulario__puntos {
  display: none;
}

.button__icono {
  width: 50px;
  height: 50px;
}
.switch {
  width: 70px;
  height: 70px;
  display: block;
  background-color: none;
  color: var(--colorPrimario);
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.switch:hover {
  background-color: var(
    --colorTerciario
  ); /* Color de fondo al pasar el cursor */
  color: var(--colorQuinario);
  box-shadow: 0px 15px 20px var(--colorSecundario);
  transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  .switch {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 60px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .formulario__field {
    margin-left: 5%;
    margin-right: 5%;
  }

  .formulario__legend {
    font-size: 40px;
  }
  .condiciones {
    margin-left: 5%;
  }

  label,
  h2,
  legend {
    font-size: 20px;
  }

  input {
    height: 22px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .formulario__field {
    margin-left: 5%;
    margin-right: 5%;
  }

  .formulario__legend {
    font-size: 20px;
  }

  .condiciones {
    margin-left: 5%;
  }

  button {
    font-size: 20px;
    width: fit-content;
  }

  label,
  h2,
  legend {
    font-size: 16px;
  }

  input {
    height: 18px;
  }
}
