@import url("https://fonts.googleapis.com/css2?family=Contrail+One&family=Poppins:wght@400;700&family=Roboto:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/*  --colorPrimario: #1F2023;    (negro)
    --colorSecundario: #A6C1B9;  (gris azulado claro)
    --colorTerciario: #4C6C62;   (gris)
    --colorCuarternario:#2B3D37; (gris oscuro)
    --colorQuinario:#D6E2DE;     (gris claro)
    --borderCaja: 5px;
    --borderRadioTitle: 15px;*/
:root {
  --colorPrimario: #1f2023;
  --colorSecundario: #a6c1b9;
  --colorTerciario: #4c6c62;
  --colorCuarternario: #2b3d37;
  --colorQuinario: #d6e2de;
  --borderCaja: 5px;
  --borderRadioTitle: 15px;
}

body {
  background-color: var(--colorPrimario);
  color: white;
  font-family: "Poppins", "Contrail One";
  font-size: 20px;
  text-align: center;
}
.cuerpo__head {
  width: 1500px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}

.cuerpo__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  padding-left: 50px;
  padding-top: 50px;
}
.titulo__barra__top {
  width: 1000px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-top: 30px solid var(--colorTerciario);
  margin: 0 auto;
}
.titulo__barra__bot {
  width: 1000px;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 30px solid var(--colorTerciario);
  margin: 0 auto;
}

.formulario__field {
  background-color: var(--colorSecundario);
  color: var(--colorPrimario);
  width: 1000px;
  text-align: center;
  border-radius: var(--borderCaja);
}
.titulo {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.formulario__legend {
  background-color: var(--colorCuarternario);
  font-family: "Roboto";
  border-radius: 15px;
  width: fit-content;
  height: 50px;
  text-align: left;
  padding: 3px;
  font-size: 30px;
  color: white;
  margin: var(--borderRadioTitle);
}
.formulario__label--block {
  display: block;
}
input {
  box-sizing: content-box;
}
input:hover {
  color: var(--colorTerciario);
}

.formulario__field--text-align {
  text-align: left;
}
.condicones__boton {
  background-color: var(--colorCuarternario);

  color: white;

  border: 1px solid var(--colorTerciario);
}

.formulario__puntos {
  border-top-style: dotted;
  border-top-width: 20px;
}

::first-letter {
  font-size: bold;
}
